body{
background-color: powderblue;
font-family: ayuthaya;
color: black;
}
h1{
text-align: center;
border-style: groove;
border-color: cyan;
background-color: rgb(72,94,196);
}
h2{
text-align: center;
}
img.me{
float:right;
width: 30%;
padding: 10px;;
border-style: groove;
border-color: cyan;
background-color: rgb(72,94,196);
margin: 50px;
}
p.bio{
text-align: left;
}
img{
text-align: center;
width: 50%;
padding: 10px;
border-style: groove;
border-color: cyan;
margin: 50px;
background-color: rgb(72,94,196);
}
