
html{
    margin: 0px;
    padding: 0px;

}

body{
background-color: #800000;
font-family: arial, serif;
font-size: 20px;
color: black;
width:100%;
    margin: 0px;
    padding: 0px;
    color: #e6e6e6;
}

h1{
text-align: center;
font-family: arial-black, sans-serif;
font-size: 50px;
}

h2{
text-align: center;
font-family: arial-black, sans-serif;
font-size: 30px;
}

div.text{
    width: 60%;
    float: right;
    padding-right: 5%;
}

div.img{
    padding-top: 20px;
    padding-left: 5%;
}

img{
    float: left;
    width: 28%;
    border-width: 5px;
    border-style: solid;
    border-color: #e6e6e6;
}

p.menu{
font-size: 23px;
font-family: arial-narrow, sans-serif;
text-align: center;
}

a{
    color:#e6e6e6;
}

div.projects{
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
}

/* visited link */
a:visited {
    color: pink;
}

/* mouse over link */
a:hover {
    color: pink;
}

/* selected link */
a:active {
    color: pink;
}